<manifest
    package="android.support.v17.leanback.supportleanbackshowcase"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <!-- Required to update or read existing channel and program information in TvProvider. -->
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA" />

    <!-- Required to update channel and program information in TvProvider. -->
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA" />

    <!-- Required to sync EPG data after reboot. For details,
    please see {@link JobInfo.Builder#setPersisted}-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>


    <uses-feature
        android:name="android.software.live_tv"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_banner_sample_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.Example.LeanbackLauncher">
        <activity
            android:name=".app.MainActivity"
            android:exported="true"
            android:icon="@mipmap/app_banner_sample_app"
            android:label="@string/app_name"
            android:logo="@mipmap/app_banner_sample_app"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".app.page.PageAndListRowActivity"
                android:exported="true"
                android:theme="@style/Theme.Example.Leanback.CustomTitle"/>
        <activity
            android:name=".app.wizard.WizardExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackWizard"/>
        <activity
            android:name=".app.settings.SettingsExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackPreferences"/>
        <activity
            android:name=".app.dialog.DialogExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackDialog"/>
        <activity
            android:name=".app.details.DetailViewExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackDetails"/>
        <activity
            android:name=".app.details.DetailViewExampleWithVideoBackgroundActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackDetails"/>
        <activity
            android:name=".app.cards.CardExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackBrowse"/>
        <activity
            android:name=".app.grid.GridExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackVerticalGrid"/>
        <activity
            android:name=".app.grid.VideoGridExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackVerticalGrid"/>
        <activity
            android:name=".app.media.VideoExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.Leanback"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"/>
        <activity
            android:name=".app.media.VideoExampleWithExoPlayerActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.Leanback"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"/>
        <activity
            android:name=".app.media.MusicExampleActivity"
            android:exported="true"
            android:theme="@style/Theme.Example.LeanbackMusic"/>

        <service android:exported="false" android:name=".app.media.MusicPlaybackService"/>


        <!-- Launched by the TV app before it uses TvInputService. This registers channels and
        sets up LeanbackTvProgramSync to provide program information in the background. -->
        <activity android:name=".input.widget.InputSetupActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- A full-screen activity which will be launched by the TV app when a user clicks
        the app-link connected to this activity. -->
        <activity
            android:name=".input.widget.ChannelLinkDetailsActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".input.widget.WebViewActivity"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- A side-panel activity which will be launched by the TV app when a user clicks
        the app-link connected to this activity. -->
        <activity
            android:name=".input.widget.ChannelLinkSidePanelActivity"
            android:theme="@style/Theme.Panel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- TV input which provides channels based on the streaming contents.
        Requires "android.permission.BIND_TV_INPUT" to ensure that only system services can bind.
        This provides the full implementation of TvInputService including EPG, subtitles,
        multi-audio, parental controls, and overlay view.
        -->
        <service
            android:name=".input.service.TvInputService"
            android:label="@string/label"
            android:permission="android.permission.BIND_TV_INPUT">
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.media.tv.TvInputService" />
            </intent-filter>
            <!-- An XML file which describes this input. This provides pointers to the
            InputSetupActivity to the system/TV app. -->
            <meta-data
                android:name="android.media.tv.input"
                android:resource="@xml/inputservice" />
        </service>

        <!-- This service is for using JobScheduler to sync EPG data. -->
        <service
            android:name=".input.service.LeanbackTvProgramSync"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <!-- This receiver is for sync job schedule well after reboot. -->
        <receiver android:name=".input.service.SyncJobReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Required by IMA SDK to fetch the version number of Google Play Service -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>
